body { 
    margin: 0; 
    padding: 0;
    padding-top: 60px; /* Ensure the map doesn't overlap with the fixed header */
}

#map { 
    position: absolute; 
    top: 60px; /* Adjust top position to be below the header */
    bottom: 0; 
    width: 100%; 
}

.header {
    font-family: Arial, sans-serif; /* Added font-family property */
}
